#set($title="区域管理")
<script type="text/javascript">
	$(document).ready(function() {
		$("#name").focus();
		$("#inputForm").validate({
			submitHandler: function(form){
				loading('正在提交，请稍等...');
				form.submit();
			},
			errorContainer: "#messageBox",
			errorPlacement: function(error, element) {
				$("#messageBox").text("输入有误，请先更正。");
				if (element.is(":checkbox")||element.is(":radio")||element.parent().is(".input-append")){
					error.appendTo(element.parent().parent());
				} else {
					error.insertAfter(element);
				}
			}
		});
	});
</script>
<ul class="nav nav-tabs">
	<li><a href="${ctx}/sys/area/">区域列表</a></li>
	<li class="active">
		<a href="form?id=$!{area.id}&parent.id=$!{area.parent.id}">
			#if($shiro.hasPermission('sys:area:edit'))#if($!{area.id})区域修改#else区域添加#end #end
			#if($shiro.lacksPermission('sys:area:edit')) 查看 #end
		</a>
	</li>
</ul><br/>
<form id="inputForm" class="form-horizontal" action="${ctx}/sys/area/save" method="post">
    <input id="id" name="id" type="hidden" value="$!{area.id}"/>
	#sysMessage($!{message})
	<div class="control-group">
		<label class="control-label">上级区域:</label>
		<div class="controls">
			## <sys:treeselect id="area" name="parent.id" value="${area.parent.id}" labelName="parent.name" labelValue="${area.parent.name}" title="区域" url="/sys/area/treeData" extId="${area.id}" cssClass="" allowClear="true"/>
			#sysTreeSelect('area', 'parent.id', $!{area.parent.id}, 'parent.name', $!{area.parent.name}, '区域', '/sys/area/treeData', '${area.id}', '', '', true, '', '')
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">区域名称:</label>
		<div class="controls">
            <input id="name" name="name" class="required" type="text" value="$!{area.name}" maxlength="50"/>
			<span class="help-inline"><font color="red">*</font> </span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">区域编码:</label>
		<div class="controls">
            <input id="code" name="code" type="text" value="$!{area.code}" maxlength="50"/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">区域类型:</label>
		<div class="controls">
            <select id="type" name="type" class="input-medium">
				#foreach($dict in $dictUtils.getDictList('sys_area_type'))
                    <option value="${dict.value}">${dict.label}</option>
				#end
            </select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">备注:</label>
		<div class="controls">
            <textarea id="remarks" name="remarks" maxlength="200" class="input-xlarge" rows="3">$!{area.remarks}</textarea>
		</div>
	</div>
	<div class="form-actions">
	#if($shiro.hasPermission('sys:area:edit'))<input id="btnSubmit" class="btn btn-primary" type="submit" value="保 存"/>&nbsp;#end
		<input id="btnCancel" class="btn" type="button" value="返 回" onclick="history.go(-1)"/>
	</div>
</form>