#set($title='字典管理')
<script type="text/javascript">
	function page(n,s){
		$("#pageNo").val(n);
		$("#pageSize").val(s);
		$("#searchForm").submit();
		return false;
	}
</script>
<ul class="nav nav-tabs">
	<li class="active"><a href="${ctx}/sys/dict/">字典列表</a></li>
	#if($shiro.hasPermission('sys:dict:edit'))
        <li><a href="${ctx}/sys/dict/form?sort=10">字典添加</a></li>
	#end
</ul>
<form id="searchForm" class="breadcrumb form-search" action="${ctx}/sys/dict/" method="post">
	<input id="pageNo" name="pageNo" type="hidden" value="$!{page.pageNo}"/>
	<input id="pageSize" name="pageSize" type="hidden" value="$!{page.pageSize}"/>
	<label>类型：</label>
    <select id="type" name="type" class="input-medium">
        <option value="" selected="selected"></option>
		#foreach($type in ${typeList})
            <option value="${type}" #if(${type}== ${dict.type}) selected #end>${type}</option>
		#end
    </select>&nbsp;&nbsp;
	<label>描述 ：</label>
    <input id="description" name="description" class="input-medium" type="text" value="$!{dict.description}" maxlength="50"/>&nbsp;
	<input id="btnSubmit" class="btn btn-primary" type="submit" value="查询"/>
</form>
#sysMessage($!{message})
<table id="contentTable" class="table table-striped table-bordered table-condensed">
	<thead><tr><th>键值</th><th>标签</th><th>类型</th><th>描述</th><th>排序</th>
		#if($shiro.hasPermission('sys:dict:edit'))<th>操作</th>#end
	</tr></thead>
	<tbody>
	#foreach($dict in ${page.list})
		<tr>
			<td>${dict.value}</td>
			<td><a href="${ctx}/sys/dict/form?id=${dict.id}">${dict.label}</a></td>
			<td><a href="javascript:" onclick="$('#type').val('${dict.type}');$('#searchForm').submit();return false;">${dict.type}</a></td>
			<td>${dict.description}</td>
			<td>${dict.sort}</td>
			#if($shiro.hasPermission('sys:dict:edit'))
				<td>
					<a href="${ctx}/sys/dict/form?id=${dict.id}">修改</a>
					<a href="${ctx}/sys/dict/delete?id=${dict.id}&type=${dict.type}" onclick="return confirmx('确认要删除该字典吗？', this.href)">删除</a>
					#set($dictSort=$dict.sort+10)
					<a href="$global.getAdminPath()/sys/dict/form?type=${dict.type}&sort=${dictSort}&description=${dict.description}">添加键值</a>
				</td>
			#end
		</tr>
	#end
	</tbody>
</table>
<div class="pagination">${page}</div>