##name="content" type="java.lang.String" required="true" description="消息内容"
##name="type" type="java.lang.String" description="消息类型：info、success、warning、error、loading"

#macro (sysMessage $content $type)
    <script type="text/javascript">top.$.jBox.closeTip();</script>
    #if($!{content})
        #if(!${type})
            #set($ctype=${type})
        #else
            #if($stringUtils.indexOf($content,'失败') > 2)
                #set($ctype='success')
            #else
                #set($ctype='error')
            #end
        #end
        <div id="messageBox" class="alert alert-${ctype} hide"><button data-dismiss="alert" class="close">×</button>${content}</div>
        <script type="text/javascript">
            if(!top.$.jBox.tip.mess){
                top.$.jBox.tip.mess=1;
                top.$.jBox.tip("${content}","${ctype}",{persistent:true,opacity:0});
                $("#messageBox").show();
            }
        </script>
     #end
#end

##name="replace" type="java.lang.String" required="true" description="需要替换的textarea编号"
##name="uploadPath" type="java.lang.String" required="false" description="文件上传路径，路径后自动添加年份。若不指定，则编辑器不可上传文件"
##name="height" type="java.lang.String" required="false" description="编辑器高度"

#macro (sysCkeditor $replace $uploadPath $height)
    <script type="text/javascript">include('ckeditor_lib','${ctxStatic}/ckeditor/',['ckeditor.js']);</script>
    <script type="text/javascript">
        var ${replace}Ckeditor = CKEDITOR.replace("${replace}");
            ${replace}Ckeditor.config.height = "${height}";// #if(!${uploadPath})
            ${replace}Ckeditor.config.ckfinderPath="${ctxStatic}/ckfinder";
        var date = new Date(), year = date.getFullYear(), month = (date.getMonth()+1)>9?date.getMonth()+1:"0"+(date.getMonth()+1);
            ${replace}Ckeditor.config.ckfinderUploadPath="${uploadPath}/"+year+"/"+month+"/";//#end
    </script>
#end



##name="input" type="java.lang.String" required="true" description="输入框"
##name="type" type="java.lang.String" required="true" description="files、images、flash、thumb"
##name="uploadPath" type="java.lang.String" required="true" description="打开文件管理的上传路径"
##name="selectMultiple" type="java.lang.Boolean" required="false" description="是否允许多选"
##name="readonly" type="java.lang.Boolean" required="false" description="是否查看模式"
##name="maxWidth" type="java.lang.String" required="false" description="最大宽度"
##name="maxHeight" type="java.lang.String" required="false" description="最大高度"
##<sys:ckfinder input="nameImage" type="images" uploadPath="/photo" selectMultiple="false" maxWidth="100" maxHeight="100"/>

#macro (sysCkFinder $input $type $uploadPath $selectMultiple $readonly $maxWidth $maxHeight)
    <ol id="${input}Preview"></ol>
    #if(!$readonly)
        <a href="javascript:" onclick="${input}FinderOpen();" class="btn">#if($selectMultiple)'添加'#else'选择'#end</a>&nbsp;
        <a href="javascript:" onclick="${input}DelAll();" class="btn">清除</a>
    #end
    <script type="text/javascript">
        function ${input}FinderOpen(){
            #if(${type} == 'thumb')
                #set($ctype='images')
            #else
                #set($ctype=${type})
            #end
            var date = new Date(), year = date.getFullYear(), month = (date.getMonth()+1)>9?date.getMonth()+1:"0"+(date.getMonth()+1);
            var url = "${ctxStatic}/ckfinder/ckfinder.html?type=${ctype}&start=${ctype}:${uploadPath}/"+year+"/"+month+
                    "/&action=js&func=${input}SelectAction&thumbFunc=${input}ThumbSelectAction&cb=${input}Callback";
            #if($type == 'thumb')
                url += "&dts=1";
            #else
                url += "&dts=0";
            #end
            #if($selectMultiple)
                url += "&sm=1";
            #else
                url += "&sm=0";
            #end
            windowOpen(url,"文件管理",1000,700);
            //top.$.jBox("iframe:"+url+"&pwMf=1", {title: "文件管理", width: 1000, height: 500, buttons:{'关闭': true}});
        }
        function ${input}SelectAction(fileUrl, data, allFiles){
            var url="", files=ckfinderAPI.getSelectedFiles();
            for(var i=0; i<files.length; i++){//<c:if test="${type eq 'thumb'}">
                url += files[i].getThumbnailUrl();//</c:if><c:if test="${type ne 'thumb'}">
                url += files[i].getUrl();//</c:if>
                if (i<files.length-1) url+="|";
            }//<c:if test="${selectMultiple}">
            $("#${input}").val($("#${input}").val()+($("#${input}").val(url)==""?url:"|"+url));//</c:if><c:if test="${!selectMultiple}">
            $("#${input}").val(url);//</c:if>
                ${input}Preview();
            //top.$.jBox.close();
        }
        function ${input}ThumbSelectAction(fileUrl, data, allFiles){
            var url="", files=ckfinderAPI.getSelectedFiles();
            for(var i=0; i<files.length; i++){
                url += files[i].getThumbnailUrl();
                if (i<files.length-1) url+="|";
            }
            ${input}Preview();
        }
        function ${input}Callback(api){
            ckfinderAPI = api;
        }
        function ${input}Del(obj){
            var url = $(obj).prev().attr("url");
            $("#${input}").val($("#${input}").val().replace("|"+url,"","").replace(url+"|","","").replace(url,"",""));
                ${input}Preview();
        }
        function ${input}DelAll(){
            $("#${input}").val("");
                ${input}Preview();
        }
        function ${input}Preview(){
            var li, urls = $("#${input}").val().split("|");
            $("#${input}Preview").children().remove();
            for (var i=0; i<urls.length; i++){
                if (urls[i]!=""){
                    li += "&nbsp;&nbsp;#if(!$readonly)<a href=\"javascript:\" onclick=\"${input}Del(this);\">×</a>#end</li>";
                    $("#${input}Preview").append(li);
                }
            }
            if ($("#${input}Preview").text() == ""){
                $("#${input}Preview").html("<li style='list-style:none;padding-top:5px;'>无</li>");
            }
        }
        ${input}Preview();
    </script>
#end








































#macro (showPage $module $page)
    #if($page)
    #set($pagePos = 2) ##当前页的尾巴长度
    共$!{page.totalItem}条记录。
    #if($page.previousPageAvailable) ##如果能向上翻页
    <a href="$module.put("page",$!{page.previousPage}).build()">上一页</a>
    <a href="$module.put("page",1).build()">1</a>
    #end
    #if($!page.index>$pagePos+2) .. #end ##显示前面的省略号
    #foreach($i in [$pagePos..1]) ##增加前面的尾巴
        #if($!page.index - $i > 1)
            #set($pageIndex= $!page.index - $i)
        <a href="$module.put("page",$pageIndex).build()">$pageIndex</a>
        #end
    #end
    <span>$!page.index</span> ##显示当前页号
    #foreach($i in [1..$pagePos]) ##增加后面的尾巴
        #if($!page.totalPage - $!page.index - $i > 0)
            #set($pageIndex= $!page.index + $!i)
        <a href="$module.put("page",$pageIndex).build()">$pageIndex</a>
        #end
    #end
    #if($!page.totalPage - $!page.index > $pagePos+1) .. #end ##显示后面的省略号
    #if($page.nextPageAvailable) ##显示后面的页
    <a href="$module.put("page",$!{page.totalPage}).build()">$!{page.totalPage}</a>
    <a href="$module.put("page",$!{page.nextPage}).build()">下一页</a>
    #end
    $!module.reset()
    #end
#end


#macro(showSimpleError)
    #if(!$!actionErrors.empty)
        #foreach($str in $actionErrors)
            $!str
            #break
        #end
    #end
#end

#macro(showError)
    #if(!$!actionErrors.empty)
        #foreach($str in $actionErrors)
        <li>$!str</li>
        #end
    #end
#end

#macro(showSimpleMessage)
    #if(!$!actionMessages.empty)
        #foreach($str in $actionErrors)
            $!str
            #break
        #end
    #end
#end

#macro(showMessage)
    #if(!$!actionMessages.empty)
        #foreach($str in $actionErrors)
        <li>$!str</li>
        #end
    #end
#end