##name="content" type="java.lang.String" required="true" description="消息内容"
##name="type" type="java.lang.String" description="消息类型：info、success、warning、error、loading"

#macro (sysMessage $content $type)
    <script type="text/javascript">top.$.jBox.closeTip();</script>
    #if($!{content})
        #if(!${type})
            #set($ctype=${type})
        #else
            #if($stringUtils.indexOf($content,'失败') > 2)
                #set($ctype='success')
            #else
                #set($ctype='error')
            #end
        #end
        <div id="messageBox" class="alert alert-${ctype} hide"><button data-dismiss="alert" class="close">×</button>${content}</div>
        <script type="text/javascript">
            if(!top.$.jBox.tip.mess){
                top.$.jBox.tip.mess=1;
                top.$.jBox.tip("${content}","${ctype}",{persistent:true,opacity:0});
                $("#messageBox").show();
            }
        </script>
     #end
#end

##name="replace" type="java.lang.String" required="true" description="需要替换的textarea编号"
##name="uploadPath" type="java.lang.String" required="false" description="文件上传路径，路径后自动添加年份。若不指定，则编辑器不可上传文件"
##name="height" type="java.lang.String" required="false" description="编辑器高度"

#macro (sysCkeditor $replace $uploadPath $height)
    <script type="text/javascript">include('ckeditor_lib','${ctxStatic}/ckeditor/',['ckeditor.js']);</script>
    <script type="text/javascript">
        var ${replace}Ckeditor = CKEDITOR.replace("${replace}");
            ${replace}Ckeditor.config.height = "${height}";// #if(!${uploadPath})
            ${replace}Ckeditor.config.ckfinderPath="${ctxStatic}/ckfinder";
        var date = new Date(), year = date.getFullYear(), month = (date.getMonth()+1)>9?date.getMonth()+1:"0"+(date.getMonth()+1);
            ${replace}Ckeditor.config.ckfinderUploadPath="${uploadPath}/"+year+"/"+month+"/";//#end
    </script>
#end



##name="input" type="java.lang.String" required="true" description="输入框"
##name="type" type="java.lang.String" required="true" description="files、images、flash、thumb"
##name="uploadPath" type="java.lang.String" required="true" description="打开文件管理的上传路径"
##name="selectMultiple" type="java.lang.Boolean" required="false" description="是否允许多选"
##name="readonly" type="java.lang.Boolean" required="false" description="是否查看模式"
##name="maxWidth" type="java.lang.String" required="false" description="最大宽度"
##name="maxHeight" type="java.lang.String" required="false" description="最大高度"
##<sys:ckfinder input="nameImage" type="images" uploadPath="/photo" selectMultiple="false" maxWidth="100" maxHeight="100"/>

#macro (sysCkFinder $input $type $uploadPath $selectMultiple $readonly $maxWidth $maxHeight)
    <ol id="${input}Preview"></ol>
    #if(!$readonly)
        <a href="javascript:" onclick="${input}FinderOpen();" class="btn">#if($selectMultiple) 添加 #else 选择 #end</a>&nbsp;
        <a href="javascript:" onclick="${input}DelAll();" class="btn">清除</a>
    #end
    <script type="text/javascript">
        function ${input}FinderOpen(){
            #if(${type} == 'thumb')
                #set($ctype='images')
            #else
                #set($ctype=${type})
            #end
            var date = new Date(), year = date.getFullYear(), month = (date.getMonth()+1)>9?date.getMonth()+1:"0"+(date.getMonth()+1);
            var url = "${ctxStatic}/ckfinder/ckfinder.html?type=${ctype}&start=${ctype}:${uploadPath}/"+year+"/"+month+
                    "/&action=js&func=${input}SelectAction&thumbFunc=${input}ThumbSelectAction&cb=${input}Callback";
            #if($type == 'thumb')
                url += "&dts=1";
            #else
                url += "&dts=0";
            #end
            #if($selectMultiple)
                url += "&sm=1";
            #else
                url += "&sm=0";
            #end
            windowOpen(url,"文件管理",1000,700);
            //top.$.jBox("iframe:"+url+"&pwMf=1", {title: "文件管理", width: 1000, height: 500, buttons:{'关闭': true}});
        }

        function ${input}SelectAction(fileUrl, data, allFiles){
            var url="", files=ckfinderAPI.getSelectedFiles();
            for(var i=0; i<files.length; i++){
                #if(${type} == 'thumb')
                    url += files[i].getThumbnailUrl();
                #else
                    url += files[i].getUrl();
                #end
                if (i<files.length-1) url+="|";
            }
            #if(${selectMultiple})
                $("#${input}").val($("#${input}").val()+($("#${input}").val(url)==""?url:"|"+url));
            #else
                $("#${input}").val(url);
            #end
            ${input}Preview();
        }

        function ${input}ThumbSelectAction(fileUrl, data, allFiles){
            var url="", files=ckfinderAPI.getSelectedFiles();
            for(var i=0; i<files.length; i++){
                url += files[i].getThumbnailUrl();
                if (i<files.length-1) url+="|";
            }
            #if(${selectMultiple})
                $("#${input}").val($("#${input}").val()+($("#${input}").val(url)==""?url:"|"+url));
            #else
                $("#${input}").val(url);
            #end
            ${input}Preview();
        }

        function ${input}Callback(api){
            ckfinderAPI = api;
        }
        function ${input}Del(obj){
            var url = $(obj).prev().attr("url");
            $("#${input}").val($("#${input}").val().replace("|"+url,"","").replace(url+"|","","").replace(url,"",""));
                ${input}Preview();
        }
        function ${input}DelAll(){
            $("#${input}").val("");
                ${input}Preview();
        }
        function ${input}Preview(){
            var li, urls = $("#${input}").val().split("|");
            $("#${input}Preview").children().remove();
            for (var i=0; i<urls.length; i++){
                if (urls[i]!=""){
                    #if(${type} == 'thumb' || ${type} == 'images')
                        li = "<li><img src=\""+urls[i]+"\" url=\""+urls[i]+"\" style=\"#if(!${maxWidth})max-width:${maxWidth}px;#else max-width:200px;#end#if(!${maxHeight})max-height:${maxHeight}px; _height:${maxHeight}px; #else max-height:200px; _height:200px; #end border:0;padding:3px;\">";
                    #end
                    #if(${type} != 'thumb' && ${type} != 'images')
                        li = "<li><a href=\""+urls[i]+"\" url=\""+urls[i]+"\" target=\"_blank\">"+decodeURIComponent(urls[i].substring(urls[i].lastIndexOf("/")+1))+"</a>";
                    #end
                    li += "&nbsp;&nbsp;#if(!${readonly})<a href=\"javascript:\" onclick=\"${input}Del(this);\">×</a>#end</li>";
                    $("#${input}Preview").append(li);
                }
            }
            if ($("#${input}Preview").text() == ""){
                $("#${input}Preview").html("<li style='list-style:none;padding-top:5px;'>无</li>");
            }
        }
        ${input}Preview();
    </script>
#end


##name="id" type="java.lang.String" required="true" description="编号"
##name="name" type="java.lang.String" required="true" description="隐藏域名称（ID）"
##name="value" type="java.lang.String" required="true" description="隐藏域值（ID）"
##name="labelName" type="java.lang.String" required="true" description="输入框名称（Name）"
##name="labelValue" type="java.lang.String" required="true" description="输入框值（Name）"
##name="title" type="java.lang.String" required="true" description="选择框标题"
##name="url" type="java.lang.String" required="true" description="树结构数据地址"
##name="extId" type="java.lang.String" required="false" description="排除掉的编号（不能选择的编号）"
##name="notAllowSelectRoot" type="java.lang.Boolean" required="false" description="不允许选择根节点"
##name="notAllowSelectParent" type="java.lang.Boolean" required="false" description="不允许选择父节点"
##name="allowClear" type="java.lang.Boolean" required="false" description="是否允许清除"
##name="cssClass" type="java.lang.String" required="false" description="css样式"
##name="cssStyle" type="java.lang.String" required="false" description="css样式"
#macro (sysTreeSelect $id $name $value $labelName $labelValue $title $url $extId $notAllowSelectRoot $notAllowSelectParent $allowClear $cssClass $cssStyle)

##name="allowInput" type="java.lang.Boolean" required="false" description="文本框可填写"
##name="smallBtn" type="java.lang.Boolean" required="false" description="缩小按钮显示"
##name="hideBtn" type="java.lang.Boolean" required="false" description="是否显示按钮"
##name="disabled" type="java.lang.String" required="false" description="是否限制选择，如果限制，设置为disabled"
##name="dataMsgRequired" type="java.lang.String" required="false" description=""
##name="checked" type="java.lang.Boolean" required="false" description="是否显示复选框，如果不需要返回父节点，请设置notAllowSelectParent为true"
##name="isAll" type="java.lang.Boolean" required="false" description="是否列出全部数据，设置true则不进行数据权限过滤（目前仅对Office有效）"
#set($isAll='')
#set($checked='')
#set($allowInput=false)
#set($smallBtn=false)
#set($hideBtn=false)
#set($disabled='')
#set($dataMsgRequired='')

<div class="input-append">
    <input id="$!{id}Id" name="$!{name}" class="$!{cssClass}" type="hidden" value="$!{value}"/>
    <input id="$!{id}Name" name="$!{labelName}" #if($!{allowInput} != '' && ${allowInput})#else readonly="readonly" #end type="text" value="$!{labelValue}" data-msg-required="$!{dataMsgRequired}" class="$!{cssClass}" style="$!{cssStyle}"/>
    <a id="$!{id}Button" href="javascript:" #if($!{hideBtn} != '' && ${hideBtn}) class="btn $!{disabled} hide" #else class="btn $!{disabled}"#end #if($!{smallBtn} != '' && ${smallBtn}) style="padding:4px 2px;"#end>&nbsp;<i class="icon-search"></i>&nbsp;</a>&nbsp;&nbsp;
</div>
<script type="text/javascript">
    $("#$!{id}Button, #$!{id}Name").click(function(){
        // 是否限制选择，如果限制，设置为disabled
        if ($("#$!{id}Button").hasClass("disabled")){
            return true;
        }
        // 正常打开
        top.$.jBox.open("iframe:${ctx}/tag/treeselect?url="+encodeURIComponent("$!{url}")+"&module=&checked=$!{checked}&extId=$!{extId}&isAll=$!{isAll}", "选择$!{title}", 300, 420, {
            ajaxData:{
                selectIds: $("#$!{id}Id").val()
            },
            buttons:{"确定":"ok",#if($!{allowClear} != '' && ${allowClear})"清除":"clear", #end "关闭":true},
            submit:function(v, h, f){
                if (v=="ok"){
                    var tree = h.find("iframe")[0].contentWindow.tree;
                    var ids = [], names = [], nodes = [];
                    if ("$!{checked}" == "true"){
                        nodes = tree.getCheckedNodes(true);
                    }else{
                        nodes = tree.getSelectedNodes();
                    }
                    for(var i=0; i<nodes.length; i++) {#if($!{checked} != '' && ${checked} && $!{notAllowSelectRoot} != '' && ${notAllowSelectRoot})
                        if (nodes[i].isParent){
                            continue; // 如果为复选框选择，则过滤掉父节点
                        }#end #if($!{notAllowSelectRoot} != '' && ${notAllowSelectRoot})
                        if (nodes[i].level == 0){
                            top.$.jBox.tip("不能选择根节点（"+nodes[i].name+"）请重新选择。");
                            return false;
                        }#end #if($!{notAllowSelectParent} != '' && ${notAllowSelectParent})
                        if (nodes[i].isParent){
                            top.$.jBox.tip("不能选择父节点（"+nodes[i].name+"）请重新选择。");
                            return false;
                        }#end
                        ids.push(nodes[i].id);
                        names.push(nodes[i].name);#if($!{checked} == '' || !${checked})
                        break;
                        #end // 如果为非复选框选择，则返回第一个选择
                    }
                    $("#${id}Id").val(ids.join(",").replace(/u_/ig,""));
                    $("#${id}Name").val(names.join(","));
                }#if($!{allowClear} != '' && ${allowClear})
                else if (v=="clear"){
                    $("#${id}Id").val("");
                    $("#${id}Name").val("");
                }#end
                if(typeof ${id}TreeselectCallBack == 'function'){
                        ${id}TreeselectCallBack(v, h, f);
                }
            }, loaded:function(h){
                $(".jbox-content", top.document).css("overflow-y","hidden");
            }
        });
    });
</script>
#end




##name="id" type="java.lang.String" required="true"
##name="name" type="java.lang.String" required="true"
##name="value" type="java.lang.String" required="true"
##name="callback" type="java.lang.String" required="true"
##使用方法： 1.将本tag写在查询的from里；2.在需要排序th列class上添加：sort-column + 排序字段名；3.后台sql添加排序引用page.orderBy；实例文件：userList.jsp、UserDao.xml
#macro (sysTableSort $id $name $value $callback)
    <input id="${id}" name="${name}" type="hidden" value="${value}"/>
    <script type="text/javascript">
        $(document).ready(function() {
            var orderBy = $("#${id}").val().split(" ");
            $(".sort-column").each(function(){
                if ($(this).hasClass(orderBy[0])){
                    orderBy[1] = orderBy[1]&&orderBy[1].toUpperCase()=="DESC"?"down":"up";
                    $(this).html($(this).html()+" <i class=\"icon icon-arrow-"+orderBy[1]+"\"></i>");
                }
            });
            $(".sort-column").click(function(){
                var order = $(this).attr("class").split(" ");
                var sort = $("#${id}").val().split(" ");
                for(var i=0; i<order.length; i++){
                    if (order[i] == "sort-column"){order = order[i+1]; break;}
                }
                if (order == sort[0]){
                    sort = (sort[1]&&sort[1].toUpperCase()=="DESC"?"ASC":"DESC");
                    $("#${id}").val(order+" DESC"!=order+" "+sort?"":order+" "+sort);
                }else{
                    $("#${id}").val(order+" ASC");
                }
                ${callback}
            });
        });
    </script>
#end


##name="id" type="java.lang.String" required="true" description="编号"
##name="name" type="java.lang.String" required="true" description="输入框名称"
##name="value" type="java.lang.String" required="true" description="输入框值"
#macro (sysIconSelect $id $name $value)
<i id="${id}Icon" #if(!$value) class="icon-$value"#else class="icon-hide"#end></i>&nbsp;<label id="${id}IconLabel">#if(!$value) $value #else 无 #end</label>&nbsp;
<input id="${id}" name="${name}" type="hidden" value="${value}"/><a id="${id}Button" href="javascript:" class="btn">选择</a>&nbsp;&nbsp;
<script type="text/javascript">
    $("#${id}Button").click(function(){
        top.$.jBox.open("iframe:${ctx}/tag/iconselect?value="+$("#${id}").val(), "选择图标", 700, $(top.document).height()-180, {
            buttons:{"确定":"ok", "清除":"clear", "关闭":true}, submit:function(v, h, f){
                if (v=="ok"){
                    var icon = h.find("iframe")[0].contentWindow.$("#icon").val();
                    icon = $.trim(icon).substr(5);
                    $("#${id}Icon").attr("class", "icon-"+icon);
                    $("#${id}IconLabel").text(icon);
                    $("#${id}").val(icon);
                }else if (v=="clear"){
                    $("#${id}Icon").attr("class", "icon- hide");
                    $("#${id}IconLabel").text("无");
                    $("#${id}").val("");
                }
            }, loaded:function(h){
                $(".jbox-content", top.document).css("overflow-y","hidden");
            }
        });
    });
</script>
#end
